body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Caption';
    font-weight: bold;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header-container {
    padding: 8px 10px;
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-family: 'Secular One';
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
}

.phone-number {
    font-size: 15px;
    line-height: 25px;
}

.nav-container {
    align-items: center;
    padding: 8px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.2;
    justify-content: space-between;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: #E65555;
    border-radius: 50%;
}

.catalog-title {
    color: #fff;
    z-index: 1;
    padding: 13.5px 0;
    background: #337FD2;
    font-family: 'PT Sans Caption';
    font-size: 16px;
    line-height: 21px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    position: relative;
}

.catalog-title:before {
    content: url('../img/burger-menu.png');
    margin-right: 20px;
}


li.catalog-title a {
    color: #fff;
}

.catalog-title a img {
    margin-right: 22px;
}

ul.submenu {
    width: 320px;
    text-align: left;
    top: 49px;
    position: absolute;
    z-index: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    display: none;
}

ul.submenu li {
    color: black;
    border: 1px solid #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11.5px 10px;
    height: 25px;
}
.submenu>li>ul {
    display: block;
}

/* Вход */

.form {
    padding-top: 30px;
    padding-left: 10px;
}

.authorization-container {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
}

.autorization-registration,
.form,
.confidential-policy {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
    width: 80%;
    margin: 0 auto;
}

.authorization-content {

    background: white;
    width: 41%;
    margin: 100px auto;
}

span.close {
    cursor: pointer;
    height: 18px;
    width: 18px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

.autorization-registration {
    font-family: 'PT Sans Caption';
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

}

.autorization-registration div {
    padding: 10px 0;
    text-align: center;
    width: 50%;
    border-bottom: 2px solid #DADADA;
    cursor: pointer;
}

div.active {
    color: #0B6EDB;
    border-bottom: 2px solid #337FD2;
}

.form_input {
    font-family: 'PT Sans Caption';
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

.form_input span {
    color: #0B6EDB;
}

.type_email,
.type_password-1,
.type_password-2 {
    height: 44px;
    font-size: 24px;
}

.form_password div {
    justify-content: space-between;
    align-items: center;
    display: flex;

}

.eye-1 {
    /* display: none; */
    position: absolute;
    right: 34%;
    top: 355px;
}

.open-eye-1 {
    display: none;
}

.password span:first-child {
    color: #0B6EDB;
}

.forgot-password {
    position: relative;
    text-decoration-line: underline;
    color: #8E8E8E;
}

.form_one_more_password {
    flex-direction: column;
    display: none;
}

.eye-2 {
    position: absolute;
    right: 34%;
    top: 438px;
}

.open-eye-2 {
    display: none;
}

.checkbox {
    position: relative;
    padding-left: 40px;
    padding-top: 20px;

}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox label:after {
    content: '';
    display: block;
    height: 23px;
    width: 23px;
    border: 2px solid #337FD2;
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    left: 0;
}

.checkbox input[type=checkbox]:checked+label:after {
    content: url('../img/chekmark.png');
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 23px;
    height: 23px;
    top: 15px;
}

.confidential-policy {
    font-size: 14px;
    margin-top: 20px;
}

.confidential-policy span {
    color: #0B6EDB;
    text-decoration: underline;
}

.enter-container,
.register-container {
    padding-bottom: 1px;
}

.enter,
.register {
    display: flex;
    background: #337FD2;
    border-radius: 3px;
    justify-content: center;
    margin: 30px auto;
    padding: 14px 0;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    width: 310px;
}

.register {
    display: none;
}



/* Войти через соц сети */
.social-media-сontainer {
    text-align: center;
    font-weight: normal;
    padding-bottom: 30px;
}

.social-medias {
    margin: 20px 8%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.social-medias div {
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-medias div img {
    margin-right: 8px;
}